In [1]:
import os
import plaid_app
import pandas as pd
from pandas.io.json import json_normalize

/Users/Spencer/Distributions_et_al/anaconda/envs/py35/lib/python3.5/site-packages/plaid/client.py:155: UserWarning:
                Tartan is not intended for production usage.
                Swap out url for https://api.plaid.com
                via Client.config before switching to production

  ''')

In [3]:
trans = plaid_app.get_transactions()

/Users/Spencer/Distributions_et_al/anaconda/envs/py35/lib/python3.5/site-packages/plaid/client.py:155: UserWarning:
                Tartan is not intended for production usage.
                Swap out url for https://api.plaid.com
                via Client.config before switching to production

  ''')

In [15]:
# json_normalize(nested_json) does it pretty well, leaving lists in the keys with children, e.g. "category"
# let's put them all in this form
df = pd.DataFrame()
for i in trans:
    df.append(json_normalize(i))

In [38]:
# Grab all transactions over $200
[[i['_id'], i['category'], i['name']] for i in trans if i['amount']>200]

[['3mg4qV4JZycjewvKEzrLTYMzdr1MmvcO4Z3zX',
  ['Transfer', 'Account Transfer'],
  'Online Transfer from External Sav ...3092'],
 ['KdDjmojBERUKx3JkDdO5IaRJdZeZKNuK4bnKJ1',
  ['Shops', 'Computers and Electronics'],
  'Apple Store'],
 ['96d5AO5gLjC9EowVyn5OCBRjJR9LaOHJnBVJzd',
  ['Transfer', 'Account Transfer'],
  'Online Transfer to Sav ...9606']]

In [12]:
# Grab transactions within a date range (normal boolean worksM)
start='2014-05-09'
end='2014-06-02'
[[i['name'],i['date']] for i in trans if i['date']<=end if i['date']>=start]

['2014-07-21',
 '2014-07-24',
 '2014-06-23',
 '2014-06-21',
 '2014-06-08',
 '2014-06-02',
 '2014-06-01',
 '2014-05-17',
 '2014-05-12',
 '2014-05-09',
 '2014-04-26',
 '2014-04-20',
 '2014-04-19',
 '2014-04-17',
 '2014-04-11',
 '2014-03-27']