In [75]:
import pandas as pd
import os
import datetime
from config import *

In [6]:
%%bash
rm /home/spencer/Downloads/transactions.csv /home/spencer/Downloads/transactions\ \(1\).csv

In [53]:
df = pd.read_csv('/home/spencer/Downloads/transactions.csv', parse_dates=['Date'], index_col = 'Date')
df2 = df.truncate(after = '09/02/2016')

In [67]:
# Defining Groups

llexpenses = ['food','coffee','transport','travel','drinks','sport','shopping','entertainment','fees','misc']

food = ['Restaurants','Fast Food','Groceries','Food & Dining']
coffee = ['Coffee Shops']
transport = ['Public Transportation','Gas & Fuel', 'Rental Car & Taxi','Auto & Transport','Parking']
travel = ['Travel','Coach Bus','Air Travel','Hotel']
drinks = ['Alcohol & Bars']
sport = ['Sports','Sporting Goods','Hobbies']
shopping = ['Electronics & Software','Music','Books','Clothing','Books & Supplies','Gift','Office Supplies','Mobile Phone'] # should it be a set?
entertainment = ['Event Tickets','Entertainment','Amusement','Arts']
fees = ['ATM Fee','Finance Charge','Fees & Charges','Bank Fee','State Tax','Federal Tax','Service Fee']
misc = ['Printing','Hair','Uncategorized','Business Services','Transfer for Cash Spending','Doctor','Eyecare','Misc Expenses']
home = ['Home','Utilities','Mortgage & Rent','Rent', 'Home Improvement']
edu = ['Education','Tuition']

allcats = food+coffee+transport+travel+drinks+sport + shopping+ entertainment+fees+misc+home+edu
expenses = food+coffee+transport+travel+drinks+sport + shopping+ entertainment+fees+misc

In [55]:
# Everything in All Cats
df = df.loc[df.Category.isin(expenses)]
df2 = df2.loc[df2.Category.isin(expenses)]

In [49]:
w1 = df['9/05/16':'9/11/16']
w2 = df['9/12/16':'9/18/16']
w3 = df['9/19/16':'9/25/16']

,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
Date,,,,,,,,
2016-09-10,Chane Music Ci,"CHANE MUSIC AND CI800-992-7252, FL #0000",124.25,debit,Music,Investor Checking,NaN,NaN
2016-09-08,Planet Rock,"PLANET ROCK ANN ARBOR, MI #0000001",243.00,debit,Amusement,Investor Checking,NaN,NaN
2016-09-02,Meijer,MEIJER INC 064 3145 SAL ANN ARBOR,162.16,debit,Groceries,Investor Checking,NaN,NaN

In [52]:
# Clean the data:
# Inspect large expenses, drop some
w1.loc[w1.Amount > 100].drop(w1.loc[w1.Amount > 100].index[[1]])
df2.loc[df2.Amount>100]

,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
Date,,,,,,,,
2016-09-10,Chane Music Ci,"CHANE MUSIC AND CI800-992-7252, FL #0000",124.25,debit,Music,Investor Checking,NaN,NaN

In [77]:
sumry = pd.DataFrame(columns = ['Wk1','Wk2','Wk3'], index = llexpenses)

In [78]:
sumry

               Wk1  Wk2  Wk3
food           NaN  NaN  NaN
coffee         NaN  NaN  NaN
transport      NaN  NaN  NaN
travel         NaN  NaN  NaN
drinks         NaN  NaN  NaN
sport          NaN  NaN  NaN
shopping       NaN  NaN  NaN
entertainment  NaN  NaN  NaN
fees           NaN  NaN  NaN
misc           NaN  NaN  NaN

In [71]:
wk1_sumry = [w1.loc[w1.Category.isin([i])].Amount.sum() for i in llexpenses]

In [72]:
wk2_sumry = [w2.loc[w2.Category.isin([i])].Amount.sum() for i in llexpenses]

In [73]:
wk3_sumry = [w3.loc[w3.Category.isin([i])].Amount.sum() for i in llexpenses]

In [83]:
sumry = pd.DataFrame(data = [wk1_sumry, wk2_sumry, wk3_sumry].T, columns = ['Wk1','Wk2','Wk3'], index = llexpenses)

AttributeError: 'list' object has no attribute 'T'